MONGO_URI=mongodb+srv://<utilisateur>:<mot_de_passe>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=thequizofsp
PORT=5050
BASE_URL=http://localhost:5050
CLIENT_URL=http://localhost:5173
ENABLE_API_DOCS=true
